.a{
  border: solid;
  margin: 40px 80px;
  border-radius: 30px;
  height: 450px;
}

textarea{
  margin-left: 100px;
  padding-left: 50px;
  align: right;
  border: solid;
  border-color: red;
  border-radius: 10px;
}

.form-image{
  height: 300px;
  width: 400px;
}
